section {
    margin-bottom: 0.8em;
    padding: 0 3%;
    box-shadow: 0 2px 2px 1px rgba(50, 50, 50, 0.1);
}
section:last-child {
    margin-bottom: 0;
}
.order-head {
    border-bottom: 1px solid #eee;
}
.order-index, .order-sell {
    float: left;
    line-height: 3em;
    width: 50%;
}
.order-id, .order-sell {
    color: #e51c23;
}
.order-sell {
    text-align: right;
}
.order-time {
    line-height: 2em;
}
.order-head:after, .dish-info:after {
    content: '';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.dish-info {
    margin: 1.5em 0;
}
.dish-image, .dish-name, .dish-price {
    float: left;
}
.dish-image {
    width: 20%;
    height: 3em;
}
.dish-name {
    width: 67%;
    padding-left: 3%;
}
.dish-price {
    width: 10%;
    text-align: right;
}
.order-sta {
    border-top: 1px solid #eee;
    text-align: right;
    line-height: 3em;
}