@font-face {
    font-family: "icon";
    src: url(../font/icon.woff) format('woff');
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "微软雅黑 Light", 微软雅黑, 黑体;
    font-size: normal;
    position: relative;
    background: #eeeeee;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #e51c23;
    box-shadow: 0 0 10px rgba(30, 30, 30, 0.6);
    z-index: 98;
    text-align: center;
}
header a {
    display: inline-block;
    line-height: 50px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}
header div, #user {
    height: 100%;
    line-height: 50px;
    color: #fff;
    font-family: "icon";
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
}
#menu-button {
    width: 50px;
    float: left;
    margin-left: 2%;
}
#user {
    display: block;
    width: 50px;
    float: right;
    margin-right: 2%;
    color: #fff;
}
#shade {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 99;
}
aside {
    position: fixed;
    top: 0;
    width: 70%;
    max-width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 30px rgba(100, 100, 100, 0.6);
    z-index: 100;
    -webkit-transform: translateX(-110%);
    -webkit-transition: all 0.5s;
}
aside h3 {
    height: 150px;
    padding-left: 8.33%;
    line-height: 200px;
    color: #fff;
    background: #03a9f4;
}
aside ul {
    margin-left: 8.33%;
}
aside ul li {
    list-style: none;
    margin: 20px 0;
} 
.icon {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    font-family: "icon";
    font-size: 1.5em;
    line-height: 30px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.cate {
    float: left;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 1.2em;
}
aside ul li a {
    color: #000;
}
aside ul li:after {
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
#occupy {
    height: 50px;
}
section {
    background: #fff;
}
#recommend {
    height: 200px;
    position: relative;
    overflow: hidden;
}
.list {
    position: relative;
    height: 100%;
    width: 100%;
}
.list img {
    width: 100%;
    position: absolute;
    top: 0;
}
.list p {
    position: absolute;
    padding: 0 0.5em;
    margin-left: 5%;
    font-size: 1.5em;
    color: #fff;
    background-color: rgba(221, 25, 29, 1);
    border-radius: 2px;
}
.reco-name {
    bottom: 100px;
}
.reco-price {
    bottom: 50px;
}
.yuan {
    font-size: 0.4em;
}
#special {
    margin-top: 1em;
}
.sp-head {
    padding: 0 3%;
}
.sp-head h2, .so-more {
    line-height: 3em;
    display: inline-block;
}
.sp-head h2 {
    font-size: 1.2em;
    font-weight: normal;
    float: left;
}
.so-more {
    line-height: 3.6em;
    text-decoration: none;
    color: #000;
    float: right;
}
.sp-head:after {
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
#so-box {
    display: -webkit-box;
}
.so-dish {
    -webkit-box-flex: 2;
    text-align: center;
}
.so-dish:nth-child(odd) {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.so-dish:nth-child(2) {
    border: 1px solid #e0e0e0;
}
.so-dish img {
    width: 80%;
}
.so-dish a {
    color: #000;
    text-decoration: none;
}
.so-dish img, .so-dish p {
    padding-top: 1em;
}
.so-dish p:last-child {
    padding-bottom: 1em;
}
.so-price {
    font-size: 1.5em;
    color: #f00;
}
.ori-price {
    color: #c0c0c0;
    font-size: 0.6em;
    text-decoration: line-through;
}
#dish-box {
    position: relative;
}
#sort-nav {
    margin-top: 1em;
    border-bottom: 1px solid #e0e0e0;
}
#sort-nav h2 {
    font-size: 1.2em;
    padding-left: 3%;
    line-height: 3em;
}
#sort-nav h4 {
    color: #f00;
    padding-left: 1em;
}
#sort-nav h2, #sort-nav h4 {
    display: inline-block;
    font-weight: normal;
}
#rule-list {
    position: absolute;
    top: 0;
    left: 6em;
    padding: 0 1em;
    background: #fff;
    box-shadow: 0 0 30px rgba(100, 100, 100, 0.6);
    z-index: 1;
    display: none;
}
#now-sort span {
    font-family: "icon";
    font-size: 0.9em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.sort-rule {
    list-style-type: none;
    margin: 1em 0;
}
.now-rule {
    color: #f00;
}
.page a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
}
dl {
    padding: 1em 0.5em;
    border-bottom: 1px solid #e0e0e0;
    display: -webkit-box;
}
dt {
    -webkit-box-flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
dd {
    -webkit-box-flex: 1;
    padding-left: 1em;
}
dd h3 {
    font-size: 1.1em;
}
.all-skecth {
    color: #888;
    padding: 0.5em 0;
}
.all-price {
    font-size: 1.5em;
    color: #f00;
    float: left;
}
.sell-num {
    font-size: 0.8em;
    line-height: 3em;
    float: right;
}
.load-more {
    height: 3em;
    line-height: 3em;
    text-align: center;
}
.load-more span {
    font: normal 1.5em "icon";
    -webkit-animation: loadmore 1s linear infinite;
}
@-webkit-keyframes loadmore {
    0 {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}